<header>
	<h1><a href="/">Eatwell</a></h1>
	<ul class="menu-list">
		<li><a href="/restaurants">Browse Restaurants</a></li>
		<li><a href="/recommend">Share a Restaurants</a></li>
		<li><a href="/about">About Eatwell</a></li>
	</ul>
	<a href="#side-drawer" class="menu-btn">
		<span></span>
		<span></span>
		<span></span>
	</a>
</header>