<!DOCTYPE html>
<html lang="en">
<head>
	<title>Indexht</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial scale=1.0">
	<link rel="stylesheet" type="text/css" href="index.css">
	<script type="text/javascript" src="app.js" defer></script>
</head>
<body>
	<%- include('includes/header') %>
<main>
	<section class="first-sec">
	<h2>Make the World a testier place!</h2>
	<p>Share your favourite restaurants or find recommendations of other users!</p>
</section>
<section class="second-sec">
	<ul>
		<li><a href="/restaurants">Browse Shared Restaurants</a></li>
		<li><a href="/recommend">Share Your Favourite Restaurants</a></li>
	</ul>
</section>
</main>
<aside id="side-drawer">
	<ul>
		<li><a href="/restaurants">Browse Restaurants</a></li>
		<li><a href="/recommend">Share a Restaurants</a></li>
		<li><a href="/about">About Eatwell</a></li>
	</ul>
</aside>
</body>
</html>


