body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(248, 232, 211);
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h1{
    background-color: orange;
    padding: 0.32rem 1.7rem;
    border-radius: 500px 500px;
    box-shadow: 1px 1px 2px rgb(209, 142, 18);
}
header h1 a{
    text-decoration: none;
    color: black;
}
header ul{
    display: flex;
    margin-right: 5.6rem;
    list-style: none;
}
@media (max-width: 46.21rem){
	.menu-list{
		display: none;
	}}
    .menu-btn{
        display: flex;
        flex-direction: column;
        width: 4rem;
        height: 3rem;
        justify-content: space-around;
    }
    .menu-btn span{
        width: 100%;
        height: 3px;
        background-color: rgb(231, 182, 19);
    }
    @media(min-width:46.21rem){
        .menu-btn{
            display: none;
        }
    }
header li{
    padding: 0.8rem;
    font-size: 23px;
    
}
header a{
    text-decoration: none;
    color: rgb(185, 126, 14);
    text-shadow: 1px 1px 2px rgb(212, 145, 19);
}
#side-drawer{
    width: 100%;
    height: 100%;
    background-color:  rgb(248, 232, 211);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    }
    #side-drawer:target{
        display: block;
    }
    #side-drawer ul{
     list-style: none;
     margin: 0;
     text-align: center;
    }
    #side-drawer li{
     margin: 1rem 0;
    }
    #side-drawer a{
     text-decoration: none;
     color: rgb(185, 126, 14);
     font-size: 1.5rem;
    }
.first-sec p{
    text-align: center;
    text-shadow: 1px 1px 1px rgb(99, 18, 18);
}
.first-sec h2{
    text-align: center;
    color: rgb(240, 171, 45);
    text-shadow: 1px 1px 1px rgb(173, 117, 11);
}
.second-sec{
    width: 66%;
    margin: 2rem auto;
}
.second-sec ul{
    list-style: none;
    padding-top: 0.9rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.second-sec ul li{
    background-color: rgb(41, 10, 10);
    margin-top: 0.5rem;
    text-align: center;
    padding: 3.9rem 1.4rem;
    border-radius: 0.36rem;
    margin: 0.3rem 0.4rem;
    box-shadow: 1px 1px 2px rgb(95, 64, 64);
    transition: transform 0.3s ease-out;
}
.second-sec ul li:hover{
    background-color: rgb(107, 47, 47);
    transform: scale(1.03);
}
.second-sec ul li a{
    text-decoration: none;
   color: white;
}
@media (max-width: 850px){
	.second-sec ul{
		grid-template-columns: 100%; 
	}
}